@charset "UTF-8";

@media screen and (max-width: 680px) {
	.barra-flex {

		font-size: 1.5em;
	}

	#nove, #dez, #onze, #doze {
		display: none;
	}
	
	h3 {
		font-size: 1em;
	}
}

* {
	margin: 0px;
	padding: 0px;
}

body {
    padding: 8px;
	background-color: black;
	color: white;
}

header {
	margin-top: 11px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.titulo {
	flex-grow: 2;
	background-image: linear-gradient(to right, rgb(16, 68, 145), rgb(4, 25, 43));
	color: white;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(5, 5, 5, 0.377);
	border-radius: 20px;
	box-shadow: 0px 0px 8px white;
	padding: 10px;
}

.logo-css {
	text-align: right;
	box-shadow: 0px 0px 10px white;
	border-radius: 50%;
}

.barra-flex {
	background-color: rgb(248, 248, 187);
	text-align: center;
	font-size: 1.3em;
	text-shadow: 1px 1px 2px rgba(12, 8, 8, 0.356);
	border-radius: 10px;
	box-shadow: 0px 0px 10px white;
	margin-bottom: 33px;
	color:rgb(4, 63, 153);
}

h2 {
	margin: auto;
	max-width: 700px;
	text-decoration: underline;
	padding: 5px;
	color: rgb(150, 224, 224);
}

h3 {
	margin: auto;
	max-width: 700px;
	font-style: oblique;
	color:darkorange;
	padding: 5px;
}

p {
	margin: auto;
	max-width: 700px;
	padding: 10px;
}

.flex-code {
	background-color: rgb(16, 68, 145);
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315);
	margin: auto;
	max-width: 700px;
	border-radius: 20px;
	box-shadow: 0px 0px 12px snow;
	margin-bottom: 33px;
}

.container{
	margin: auto;
	max-width: 690px;
	display: flex;
	background-color: rgb(248, 248, 187);
	padding: 5px;
	border-radius: 20px;
}

.azul, .roxo, .vermelho {
	height: 70px;
	width: 70px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}

.azul {
	background-color: rgb(150, 224, 224);
	color: darkblue;
}

.roxo {
	background-color: rgb(199, 121, 238);
	color: rgb(82, 3, 82);
}

.vermelho {
	background-color: rgb(243, 96, 125);
	color: rgb(107, 5, 5);
}

#row-reverse {
	flex-direction: row-reverse;
}

#column {
	flex-direction: column;
}

#column-reverse {
	flex-direction: column-reverse;
}

#center {
	justify-content: center;
}

#flex-end {
	justify-content: flex-end;
}

#space-between {
	justify-content: space-between;
}

#space-around {
	justify-content: space-around;
}

#ai-flex-start {
	height: 200px;
	justify-content: center;
	align-items: flex-start;
}

#ai-center {
	height: 200px;
	justify-content: center;
	align-items: center;
}

#ai-flex-end {
	height: 200px;
	justify-content: center;
	align-items: flex-end;
}

#stretch {
	height: 200px;
	justify-content: center;
	align-items: stretch;
}

#stretch .azul {
	height: unset;
}

#stretch .roxo {
	height: unset;
}

#stretch .vermelho {
	height: unset;
}

#baseline {
	height: 200px;
	justify-content: center;
	align-items: baseline;
}

#no-wrap {
	height: 200px;
	align-items: center;
	justify-content: center;
}


#wrap {
	height: 240px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#wrap-reverse {
	height: 250px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.flow-code {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315);
	width: 200px;
	background-color: rgb(16, 68, 145);
	margin: auto;
	max-width: 700px;
	border-radius: 20px;
}

#ac-flex-start {
	height: 250px;
	justify-content: center;
	flex-flow: row wrap ;
	align-content: flex-start;
}

#ac-center {
	height: 250px;
	justify-content: center;
	flex-flow: row wrap ;
	align-content: center;
}

#ac-flex-end {
	height: 250px;
	justify-content: center;
	flex-flow: row wrap ;
	align-content: flex-end;
}

#ac-space-between {
	height: 250px;
	justify-content: center;
	flex-flow: row wrap ;
	align-content: space-between;
}

#ac-space-around {
	height: 250px;
	justify-content: center;
	flex-flow: row wrap ;
	align-content: space-around;
}

#row-gap {
	height: 250px;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	row-gap: 20px;
}

#column-gap {
	height: 250px;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	column-gap: 20px;
}

#gap {
	height: 250px;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 10px 20px;
}

hr {
	
	max-width: 700px;
	display: block;
	max-width: 700px;
	margin: auto;
	margin-top: 5px;
}

footer {
	display: flex;
	margin-top: 40px;
	background-image: linear-gradient(to bottom, rgb(2, 19, 34), rgb(16, 68, 145));
	height: 180px;
	box-shadow: 2px 2px 15px white ;
	border-radius: 20px 0px;
}

footer p {
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315);
	font-family: arial;
	color: white;
	line-height: 20px;
}

footer a {
	color: aquamarine;
	text-decoration: none;
}